body {
  font-family: sans-serif;
  background-color: #DDD;
}

/* Basic styling for semantic HTML elements */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin: 1rem 0;
}

li {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.title {
  padding: 8px;
  border: none;
  cursor: pointer;
  font-size: 28px;
  background-color: #FFF;
  border-radius: 8px;
}

.title option{
  font-size: 14px;
}

.floatAtlas {
  float: right;
  width: 600px;
  max-width: 50%;
  margin-left: 30px;
}

.about-container {
  width: 1000px;
  max-width: 90% ;
  margin: auto;
  padding: 20px;
}