.body_part {
	fill-opacity:0 !important;
	stroke-width:0 !important;
	display:none !important;
	fill:none !important;
	fill-opacity:0 !important;
	stroke:none !important;
	stroke-width:0 !important;
	stroke-opacity:0 !important;
}

.body_part_text {
	display:none !important;
}

.body_part.atlas {
	display:inline !important;
	fill:#FF0000 !important;
	fill-opacity:0.2 !important;
	stroke-width:3 !important;
	display:inline !important;
	stroke:#FF0000 !important;
	stroke-opacity:1 !important;
}

.body_part_text.atlas {
	display:inline !important;
	font-size:28px !important;
	font-weight: bold !important;
	fill:#600000 !important;
}