.body_part {
	display:none !important;
}

.body_part_text {
	display:none !important;
}

.body_part.atlas {
	display:inline !important;
	fill:#FF0000 !important;
	stroke-width:1 !important;
	display:inline !important;
	stroke:#FF0000 !important;
	stroke-opacity:1 !important;
	vector-effect: non-scaling-stroke;
}

.body_part_text.atlas {
	display:inline !important;
	font-size:28px !important;
	fill:#600000 !important;
	font-family: 'Roboto Condensed', sans-serif;
}

.body_part.atlas.color-1 {
	fill: url(#color-1-pattern) !important;
	stroke:#FF0000 !important;
}

.body_part_text.atlas.color-1 {
	fill:#600000 !important;
}

.body_part.atlas.color-2 {
	fill: url(#color-2-pattern) !important;
	stroke:#00FF00 !important;
}

.body_part_text.color-2 {
	fill:#006000 !important;
}

.body_part.atlas.color-3 {
	fill: url(#color-3-pattern) !important;
	stroke:#4040ff !important;
}

.body_part_text.color-3 {
	fill:#0000CC !important;
}

.body_part.atlas.color-4 {
	fill: url(#color-4-pattern) !important;
	stroke:#999900 !important;
}


.body_part_text.color-4 {
	fill:#406000 !important;
}

